/**
 * Place your custom CSS styles here.
 **/
.shia-do-it {
	position: fixed;
	bottom: 0px;
	z-index: 99999;
	right: 0px;
	height: 530px;
	width: 720px;
	pointer-events: none;
}

.shia-do-it .shia-do-it--container {
	width: 720px;
	overflow:hidden;
	display:block;
	height: 535px;
}

.shia-do-it .shia-do-it--container video {
	margin-top: -5px;
	max-width: none;
	padding: 0;
}